.embed-stl-media-desc {
	margin-left: 1em;
}

.embed-stl-size-sm {
	width: 100%;
	height: 25vh;
}

.embed-stl-size-md {
	width: 100%;
	height: 50vh;
}

.embed-stl-size-lg {
	width: 100%;
	height: 75vh;
}